/* Color Pallette */
/* Breakpoints */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800|Open+Sans:400,700');
body {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
  min-width: 360px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pad {
  margin: 10px;
}
.center {
  text-align: center;
}
/* responsive classes */
.max-header-width,
.main-nav-inner,
.top-nav .top-nav-inner {
  max-width: 1230px;
}
@media (min-width: 513px) {
  .max-header-width,
  .main-nav-inner,
  .top-nav .top-nav-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1023px) {
  .hide-below-tablet {
    display: none !important;
  }
}
@media (min-width: 901px) {
  .hide-above-tablet,
  .mobile-contact-buttons {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .hide-on-tablet-portrait,
  .main-nvaigation,
  .top-nav {
    display: none !important;
  }
}
@media (max-width: 512px) {
  .hide-on-mobile {
    display: none !important;
  }
}
/*
  based on https://codepen.io/dgca/pen/QExbKN
*/
.flex-container {
  margin: 0 auto;
  max-width: 1200px;
}
.flex-container:not(.nopad) {
  padding: 0 1em;
}
.fullbleed,
.fullbleed-left,
.fullbleed-right {
  margin: 0;
  padding: 0;
  max-width: none !important;
  width: 100% !important;
}
.fullbleed-left {
  margin-left: 5%;
}
.fullbleed-right {
  margin-right: 5%;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 1em;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.align-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex-col-xs-1,
.flex-col-sm-1,
.flex-col-md-1,
.flex-col-lg-1 {
  width: 100%;
}
.flex-col-xs-1:not(.fullbleed-image),
.flex-col-sm-1:not(.fullbleed-image),
.flex-col-md-1:not(.fullbleed-image),
.flex-col-lg-1:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-1 {
    width: -webkit-calc(8.33333333%);
    width: calc(8.33333333%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-1 {
    width: -webkit-calc(8.33333333%);
    width: calc(8.33333333%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-1 {
    width: -webkit-calc(8.33333333%);
    width: calc(8.33333333%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-1 {
    width: -webkit-calc(8.33333333%);
    width: calc(8.33333333%);
  }
}
.flex-col-xs-2,
.flex-col-sm-2,
.flex-col-md-2,
.flex-col-lg-2 {
  width: 100%;
}
.flex-col-xs-2:not(.fullbleed-image),
.flex-col-sm-2:not(.fullbleed-image),
.flex-col-md-2:not(.fullbleed-image),
.flex-col-lg-2:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-2 {
    width: -webkit-calc(16.66666667%);
    width: calc(16.66666667%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-2 {
    width: -webkit-calc(16.66666667%);
    width: calc(16.66666667%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-2 {
    width: -webkit-calc(16.66666667%);
    width: calc(16.66666667%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-2 {
    width: -webkit-calc(16.66666667%);
    width: calc(16.66666667%);
  }
}
.flex-col-xs-3,
.flex-col-sm-3,
.flex-col-md-3,
.flex-col-lg-3 {
  width: 100%;
}
.flex-col-xs-3:not(.fullbleed-image),
.flex-col-sm-3:not(.fullbleed-image),
.flex-col-md-3:not(.fullbleed-image),
.flex-col-lg-3:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-3 {
    width: -webkit-calc(25%);
    width: calc(25%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-3 {
    width: -webkit-calc(25%);
    width: calc(25%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-3 {
    width: -webkit-calc(25%);
    width: calc(25%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-3 {
    width: -webkit-calc(25%);
    width: calc(25%);
  }
}
.flex-col-xs-4,
.flex-col-sm-4,
.flex-col-md-4,
.flex-col-lg-4 {
  width: 100%;
}
.flex-col-xs-4:not(.fullbleed-image),
.flex-col-sm-4:not(.fullbleed-image),
.flex-col-md-4:not(.fullbleed-image),
.flex-col-lg-4:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-4 {
    width: -webkit-calc(33.33333333%);
    width: calc(33.33333333%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-4 {
    width: -webkit-calc(33.33333333%);
    width: calc(33.33333333%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-4 {
    width: -webkit-calc(33.33333333%);
    width: calc(33.33333333%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-4 {
    width: -webkit-calc(33.33333333%);
    width: calc(33.33333333%);
  }
}
.flex-col-xs-5,
.flex-col-sm-5,
.flex-col-md-5,
.flex-col-lg-5 {
  width: 100%;
}
.flex-col-xs-5:not(.fullbleed-image),
.flex-col-sm-5:not(.fullbleed-image),
.flex-col-md-5:not(.fullbleed-image),
.flex-col-lg-5:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-5 {
    width: -webkit-calc(41.66666667%);
    width: calc(41.66666667%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-5 {
    width: -webkit-calc(41.66666667%);
    width: calc(41.66666667%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-5 {
    width: -webkit-calc(41.66666667%);
    width: calc(41.66666667%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-5 {
    width: -webkit-calc(41.66666667%);
    width: calc(41.66666667%);
  }
}
.flex-col-xs-6,
.flex-col-sm-6,
.flex-col-md-6,
.flex-col-lg-6 {
  width: 100%;
}
.flex-col-xs-6:not(.fullbleed-image),
.flex-col-sm-6:not(.fullbleed-image),
.flex-col-md-6:not(.fullbleed-image),
.flex-col-lg-6:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-6 {
    width: -webkit-calc(50%);
    width: calc(50%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-6 {
    width: -webkit-calc(50%);
    width: calc(50%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-6 {
    width: -webkit-calc(50%);
    width: calc(50%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-6 {
    width: -webkit-calc(50%);
    width: calc(50%);
  }
}
.flex-col-xs-7,
.flex-col-sm-7,
.flex-col-md-7,
.flex-col-lg-7 {
  width: 100%;
}
.flex-col-xs-7:not(.fullbleed-image),
.flex-col-sm-7:not(.fullbleed-image),
.flex-col-md-7:not(.fullbleed-image),
.flex-col-lg-7:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-7 {
    width: -webkit-calc(58.33333333%);
    width: calc(58.33333333%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-7 {
    width: -webkit-calc(58.33333333%);
    width: calc(58.33333333%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-7 {
    width: -webkit-calc(58.33333333%);
    width: calc(58.33333333%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-7 {
    width: -webkit-calc(58.33333333%);
    width: calc(58.33333333%);
  }
}
.flex-col-xs-8,
.flex-col-sm-8,
.flex-col-md-8,
.flex-col-lg-8 {
  width: 100%;
}
.flex-col-xs-8:not(.fullbleed-image),
.flex-col-sm-8:not(.fullbleed-image),
.flex-col-md-8:not(.fullbleed-image),
.flex-col-lg-8:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-8 {
    width: -webkit-calc(66.66666667%);
    width: calc(66.66666667%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-8 {
    width: -webkit-calc(66.66666667%);
    width: calc(66.66666667%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-8 {
    width: -webkit-calc(66.66666667%);
    width: calc(66.66666667%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-8 {
    width: -webkit-calc(66.66666667%);
    width: calc(66.66666667%);
  }
}
.flex-col-xs-9,
.flex-col-sm-9,
.flex-col-md-9,
.flex-col-lg-9 {
  width: 100%;
}
.flex-col-xs-9:not(.fullbleed-image),
.flex-col-sm-9:not(.fullbleed-image),
.flex-col-md-9:not(.fullbleed-image),
.flex-col-lg-9:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-9 {
    width: -webkit-calc(75%);
    width: calc(75%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-9 {
    width: -webkit-calc(75%);
    width: calc(75%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-9 {
    width: -webkit-calc(75%);
    width: calc(75%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-9 {
    width: -webkit-calc(75%);
    width: calc(75%);
  }
}
.flex-col-xs-10,
.flex-col-sm-10,
.flex-col-md-10,
.flex-col-lg-10 {
  width: 100%;
}
.flex-col-xs-10:not(.fullbleed-image),
.flex-col-sm-10:not(.fullbleed-image),
.flex-col-md-10:not(.fullbleed-image),
.flex-col-lg-10:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-10 {
    width: -webkit-calc(83.33333333%);
    width: calc(83.33333333%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-10 {
    width: -webkit-calc(83.33333333%);
    width: calc(83.33333333%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-10 {
    width: -webkit-calc(83.33333333%);
    width: calc(83.33333333%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-10 {
    width: -webkit-calc(83.33333333%);
    width: calc(83.33333333%);
  }
}
.flex-col-xs-11,
.flex-col-sm-11,
.flex-col-md-11,
.flex-col-lg-11 {
  width: 100%;
}
.flex-col-xs-11:not(.fullbleed-image),
.flex-col-sm-11:not(.fullbleed-image),
.flex-col-md-11:not(.fullbleed-image),
.flex-col-lg-11:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-11 {
    width: -webkit-calc(91.66666667%);
    width: calc(91.66666667%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-11 {
    width: -webkit-calc(91.66666667%);
    width: calc(91.66666667%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-11 {
    width: -webkit-calc(91.66666667%);
    width: calc(91.66666667%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-11 {
    width: -webkit-calc(91.66666667%);
    width: calc(91.66666667%);
  }
}
.flex-col-xs-12,
.flex-col-sm-12,
.flex-col-md-12,
.flex-col-lg-12 {
  width: 100%;
}
.flex-col-xs-12:not(.fullbleed-image),
.flex-col-sm-12:not(.fullbleed-image),
.flex-col-md-12:not(.fullbleed-image),
.flex-col-lg-12:not(.fullbleed-image) {
  padding: 1em;
}
@media (min-width: 540px) {
  .flex-col-xs-12 {
    width: -webkit-calc(100%);
    width: calc(100%);
  }
}
@media (min-width: 768px) {
  .flex-col-sm-12 {
    width: -webkit-calc(100%);
    width: calc(100%);
  }
}
@media (min-width: 992px) {
  .flex-col-md-12 {
    width: -webkit-calc(100%);
    width: calc(100%);
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-12 {
    width: -webkit-calc(100%);
    width: calc(100%);
  }
}
[class^="flex-col"] img {
  width: 100%;
}
.fira-sans,
.jumbo,
h1,
h2,
h3,
h4,
h5,
h6,
.button-dark-1,
.button-small-dark-1,
[class^="btn"],
[class^="badge"],
.main-nvaigation ul li a,
.top-nav,
.newsletter-bumper p,
.quote-bumper p,
.footer-global p {
  font-family: 'Fira Sans', sans-serif;
}
.open-sans,
body,
a,
li,
input:not(.fancy),
[type="text"].fancy,
[type="number"].fancy,
[type="email"].fancy,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
}
.regular {
  font-weight: regular;
}
.bold,
a,
h1,
h2,
.button-dark-1,
.button-small-dark-1,
.newsletter-bumper p,
.quote-bumper p {
  font-weight: bold;
}
.extra-bold,
.jumbo {
  font-weight: 800;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 32px;
  color: #002438;
}
a {
  font-size: 16px;
  line-height: 27px;
  color: #002438;
  text-decoration: none;
}
ul {
  margin: 0;
}
li {
  padding-left: 5px;
  font-size: 18px;
  line-height: 27px;
  color: #002438;
  letter-spacing: 1px;
}
/* headings */
.jumbo {
  font-size: 72px;
  line-height: 81px;
  color: #002438;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002438;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 54px;
  line-height: 63px;
}
h2 {
  font-size: 45px;
  line-height: 50px;
}
h3 {
  font-size: 36px;
  line-height: 52px;
}
h4 {
  font-size: 27px;
  line-height: 32px;
}
h5 {
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
  line-height: 20px;
}
/* button text */
.button-dark-1 {
  font-size: 20px;
  line-height: 30px;
  color: #002438;
}
.button-small-dark-1 {
  font-size: 14px;
  line-height: 22px;
  color: #002438;
}
.bg-primary,
.btn-primary,
.pill,
[class^="badge"],
.quote-bumper {
  background-color: #e62233;
}
.bg-secondary,
.btn-primary:hover,
.pill:hover,
.newsletter-bumper {
  background-color: #cb0000;
}
.bg-dark,
.footer-global {
  background-color: #002438;
}
.bg-light-1 {
  background-color: #ffffff;
}
.bg-light-2 {
  background-color: #f6f6f6;
}
.bg-light-3 {
  background-color: #f1f1f1;
}
.bg-accent {
  background-color: #009e3a;
}
.bg-white {
  background: white;
}
.text-primary,
a:hover,
.btn-secondary {
  color: #e62233;
}
.text-secondary,
.btn-secondary:hover {
  color: #cb0000;
}
.text-dark {
  color: #002438;
}
.text-light-1 {
  color: #ffffff;
}
.text-light-2 {
  color: #f6f6f6;
}
.text-light-3 {
  color: #f1f1f1;
}
.text-accent {
  color: #009e3a;
}
.shadow-1 {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 36, 56, 0.15);
          box-shadow: 0 0 6px 0 rgba(0, 36, 56, 0.15);
}
.shadow-2 {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 36, 56, 0.1);
          box-shadow: 0 0 8px 0 rgba(0, 36, 56, 0.1);
}
.shadow-3 {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 36, 56, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 36, 56, 0.15);
}
.overlay-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-dark-50 {
  background-color: rgba(0, 36, 56, 0.5);
}
.overlay-dark-25 {
  background-color: rgba(0, 36, 56, 0.25);
}
.overlay-light-15 {
  background-color: rgba(255, 255, 255, 0.15);
}
.border,
.btn-primary,
.btn-secondary,
.pill {
  border: 4px solid #e62233;
}
.border-secondary,
.btn-primary:hover,
.btn-secondary:hover,
.pill:hover {
  border: 4px solid #cb0000;
}
.border-right {
  border-right: 4px solid #e62233;
}
.border-top,
.main-nvaigation a:hover,
.cta:hover,
.simple-cta:hover {
  border-top: 4px solid #e62233;
}
.border-bottom,
.main-nvaigation a.active span,
.cta.active span,
.simple-cta.active span,
.main-nvaigation a:hover,
.cta:hover,
.simple-cta:hover,
nav a.active span,
.cta span {
  border-bottom: 4px solid #e62233;
}
.rounded-10,
.btn-primary,
.btn-secondary,
input:not(.fancy),
textarea,
select {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.rounded-100,
.pill,
[class^="badge"] {
  -webkit-border-radius: 100px;
          border-radius: 100px;
}
[class^="btn"] {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
[class^="btn-half"] {
  padding: 7px 36px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}
.btn-lg {
  height: 50px;
  padding: 6px 16px;
  font-size: 20px;
  line-height: 30px;
}
.btn-lg.btn-wide {
  padding: 6px 50px;
}
.btn-sm {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 22px;
  magin: 14px;
}
.btn-half-left {
  margin-left: 0;
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
}
.btn-half-right {
  margin-right: 0;
  -webkit-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
}
.btn-primary {
  color: white;
}
.btn-primary:hover {
  color: white;
}
.btn-primary.disabled {
  background: #002438;
  border-color: #002438;
  opacity: 0.5;
}
.btn-secondary {
  background: white;
}
.btn-secondary.disabled {
  color: #002438;
  border-color: #002438;
  opacity: 0.5;
}
.icon-left .fa {
  margin-right: 7px;
}
.icon-right .fa {
  margin-left: 7px;
}
.pill {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 0 24px;
  height: 27px;
  color: white;
}
[class^="badge"] {
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.badge-lg {
  width: 48px;
  height: 48px;
  font-size: 27px;
  line-height: 49px;
}
.badge-med {
  width: 40px;
  height: 40px;
  font-size: 27px;
  line-height: 41px;
}
.badge-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
}
/* Mobile contact buttons */
.mobile-contact-buttons a {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}
@media (min-width: 512px) {
  .mobile-contact-buttons a {
    margin: 0 27px;
  }
}
.mobile-contact-buttons a i {
  font-size: 35px;
}
@media (max-width: 901px) {
  .main-nav .mobile-contact-buttons,
  .main-nav .site-branding,
  .main-nav .nav-side {
    width: 33%;
    padding-top: 20px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .main-nav .mobile-contact-buttons .btn-sm,
  .main-nav .site-branding .btn-sm,
  .main-nav .nav-side .btn-sm {
    margin: 0;
  }
}
.main-nav-inner {
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-nav-inner .nav-side {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.site-branding h1 {
  margin: 0 !important;
  vertical-align: top;
  line-height: normal;
  padding: 0 !important;
}
/* Logo */
.logo {
  display: block;
  margin-top: 9px;
}
@media (max-width: 901px) {
  .logo {
    margin: 0;
    text-align: center;
  }
  .logo img {
    max-width: 100px;
  }
}
@media (min-width: 900px) {
  .logo {
    margin-left: 32px;
  }
  .logo img {
    max-width: 130px;
  }
}
@media (min-width: 1025px) {
  .logo {
    margin-left: 0;
  }
  .logo img {
    max-width: 160px;
  }
}
.nav-side .btn-lg {
  margin: 10px 0 0 30px;
}
/* Quote buttons show up in different sizes depending on screen width */
@media (min-width: 1025px) {
  .quote-btn-lg {
    display: inline-block !important;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .quote-btn-md {
    display: inline-block !important;
  }
}
@media (max-width: 900px) {
  .quote-btn-sm {
    display: inline-block !important;
  }
}
@media (max-width: 512px) {
  .quote-btn-sm {
    margin: 0;
    padding: 5px;
  }
}
/* Main Navigation */
.main-nvaigation {
  padding-top: 16px;
}
.main-nvaigation ul {
  margin: 0;
}
.main-nvaigation ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 15px 5px 0;
}
@media (min-width: 1024px) {
  .main-nvaigation ul li {
    margin: 5px 37px 5px 0;
  }
}
@media (min-width: 1367px) {
  .main-nvaigation ul li {
    margin: 5px 25px 5px 0;
  }
}
.main-nvaigation ul li:last-child {
  margin-right: 0;
}
.main-nvaigation ul li a {
  letter-spacing: 1px;
}
.white-box {
  display: block;
  background: white;
  max-width: 1200px;
  margin: 60px auto 60px auto !important;
  padding: 60px 0px 60px 100px;
}
.white-box [class^="flex-col"] {
  padding: 0;
}
label {
  font-size: 14px;
  line-height: 20px;
}
.form-control {
  position: relative;
}
input:not(.fancy) {
  font-weight: bold;
  color: #002438 !important;
  background: #F1F1F1;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 32px;
  border: none;
}
input.flat-right {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
}
.form-control {
  max-width: 230px;
}
.form-control.error input {
  border-right: 4px solid #e62233;
}
/* input field icons */
.success:before,
.error:before {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 85%;
  padding: 5px 0 0 0;
  right: 10px;
  font-family: 'PetFirst';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
}
.success:before {
  color: #009e3a;
  content: "\f003";
}
.error:before {
  color: #e62233;
  content: "\f02e";
}
[type="text"].fancy,
[type="number"].fancy,
[type="email"].fancy {
  text-align: center;
  display: block;
  font-weight: bold;
  color: #002438 !important;
  background: transparent;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 32px;
  border-color: #002438;
  border-width: 0 0 4px 0;
}
textarea {
  font-weight: bold;
  color: #002438 !important;
  background: #F1F1F1;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 32px;
  border: none;
}
[type="radio"].fancy {
  border: #002438;
  color: #002438;
  background: blue;
}
[type="checkbox"].fancy {
  border: #002438;
  color: #002438;
  background: blue;
}
select {
  min-width: 300px;
  font-weight: bold;
  color: #002438 !important;
  background: #F1F1F1;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  border: none;
}
.breadcrumb {
  margin: 0;
  padding: 10px 0;
}
.breadcrumb li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  font-size: 14px;
}
.breadcrumb a {
  margin-right: 20px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  color: #002438;
  text-decoration: none;
}
.breadcrumb a:before {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  padding: 2px 0 0 0;
  right: -26px;
  font-family: 'PetFirst';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 15px;
  color: #002438;
  content: "\f030";
}
.top-nav {
  background: #002438;
}
.top-nav .top-nav-inner {
  margin: 0 auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}
.top-nav .top-nav-inner nav ul {
  margin: 0;
  padding: 0;
}
.top-nav .top-nav-inner nav li {
  list-style-type: none;
  display: inline-block;
}
.top-nav .top-nav-inner nav li:after {
  font-family: "fira sans", sans-serif;
  color: white;
  content: '|';
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  vertical-align: middle;
}
.top-nav .top-nav-inner nav li:last-child:after {
  content: '';
}
.top-nav .top-nav-inner nav li a {
  font-family: "fira sans", sans-serif;
  letter-spacing: 1px;
  padding: 0px 12px 0 6px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  width: 100%;
}
.top-nav .top-nav-inner nav li a:hover {
  color: white;
  opacity: 0.8;
}
.top-nav .top-nav-inner .search {
  padding: 4px 0px 0px 5px;
  font-size: 13px;
  color: white;
}
.top-nav .top-nav-inner .search:hover {
  color: white;
  opacity: 0.8;
}
.main-nvaigation a,
.cta,
.simple-cta {
  font-size: 16px;
  line-height: 27px;
  padding: 5px 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.main-nvaigation a:last-child,
.cta:last-child,
.simple-cta:last-child {
  margin-right: 0;
}
.main-nvaigation a span,
.cta span,
.simple-cta span {
  padding: 3px 0;
}
.main-nvaigation a:hover,
.cta:hover,
.simple-cta:hover {
  color: #002438;
}
.main-nvaigation a:hover span,
.cta:hover span,
.simple-cta:hover span {
  border: none !important;
}
.bumpers {
  margin-bottom: 0;
}
.bumpers h2 {
  color: white;
  font-weight: bold;
}
.bumper-inner {
  max-width: 500px;
}
.newsletter-bumper,
.quote-bumper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.newsletter-bumper .btn-half-left,
.quote-bumper .btn-half-left {
  margin: 0;
  vertical-align: top;
}
.newsletter-bumper p,
.quote-bumper p {
  font-size: 14px;
  line-height: 20px;
}
.newsletter-bumper {
  padding-top: 45px;
  margin-top: 15px;
  -webkit-box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
}
.newsletter-bumper .btn-half-left {
  background: #671f2f;
  border-color: #671f2f;
}
.newsletter-bumper .btn-half-left:hover {
  background: #40131d;
  border-color: #40131d;
}
.quote-bumper {
  padding-top: 65px;
}
.quote-bumper .btn-half-left {
  background: #cb0000;
  border-color: #cb0000;
}
.quote-bumper .btn-half-left:hover {
  background: #980000;
  border-color: #980000;
}
/*
<h2>Pet Tips &amp; Tricks</h2>
<p>What is your email address?</p>
<input type="text" placeholder="example@email.com"><a class="btn-half btn-secondary">Sign Up</a>
<p>We send helpful pet tips twice a month. We won't yap.</p>
</div>

<div class="flex-col-sm-6 bumper bg-secondary">
<h2>Start your free quote.</h2>
<p>What is your pet's name?</p>
<input type="text" placeholder="We bet it's cute!"><a class="btn-half btn-secondary">Get My Free Quote</a>
</div>

</div>
*/
.footer-global {
  color: white;
}
.footer-global ul {
  margin: 0;
  padding: 5px;
}
.footer-global ul li {
  list-style-type: none;
}
.footer-global a {
  color: white;
}
.footer-global h6 {
  color: white;
}
.footer-global p {
  font-size: 14px;
  line-height: 20px;
}
.footer-links a {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.footer-socials a {
  width: 35px;
  margin: 13px;
  height: 35px;
  display: inline-block;
}
.footer-socials a i {
  display: inline-block;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.footer-global nav ul {
  margin: 0;
  padding: 0;
}
.footer-global nav li {
  list-style-type: none;
  display: inline-block;
}
.footer-global nav li:after {
  font-family: "fira sans", sans-serif;
  color: white;
  content: '|';
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  vertical-align: middle;
}
.footer-global nav li:last-child:after {
  content: '';
}
.footer-global nav li a {
  font-family: "fira sans", sans-serif !important;
  letter-spacing: 1px;
  padding: 0px 12px 0 6px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  width: 100%;
}
.footer-global nav li a:hover {
  color: white;
  opacity: 0.8;
}
